<%= form_with(model: srctype) do |form| %>
  <% if srctype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(srctype.errors.count, "error") %> prohibited this srctype from being saved:</h2>

      <ul>
        <% srctype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :interval %>
    <%= form.time_field :interval, placeholder: "HH:MM:SS" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
